[submodule "src/pcre"]
	path = src/pcre
	url = https://android.googlesource.com/platform/external/pcre.git
[submodule "src/logging"]
	path = src/logging
	url = https://android.googlesource.com/platform/system/logging.git
[submodule "src/lz4"]
	path = src/lz4
	url = https://github.com/lz4/lz4
	branch = dev
[submodule "src/e2fsprogs"]
	path = src/e2fsprogs
	url = https://android.googlesource.com/platform/external/e2fsprogs.git
[submodule "src/libbase"]
	path = src/libbase
	url = https://android.googlesource.com/platform/system/libbase
[submodule "src/core"]
	path = src/core
	url = https://android.googlesource.com/platform/system/core.git
[submodule "src/selinux"]
	path = src/selinux
	url = https://android.googlesource.com/platform/external/selinux
[submodule "src/xz"]
	path = src/xz
	url = https://github.com/tukaani-project/xz
	branch = master
[submodule "src/libfuse"]
	path = src/libfuse
	url = https://github.com/libfuse/libfuse
	branch = master
[submodule "src/zlib"]
	path = src/zlib
	url = https://android.googlesource.com/platform/external/zlib
	branch = main
[submodule "src/libcxx"]
	path = src/libcxx
	url = https://github.com/topjohnwu/libcxx.git
	branch = master
[submodule "src/winfsp"]
	path = src/winfsp
	url = https://github.com/winfsp/winfsp
